body {
    font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
}

.periodic {
    text-transform: capitalize;
}

button, .input-group-addon, .control-label {
    text-transform: uppercase;
    font-weight: normal;
}

.column-heading {
    margin-top: 0px;
}


#list .list-group-item:last-child, #list .list-group-item:first-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#list .list-group-item {
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
}