.sighting-item {
    -webkit-animation: fadein 3.5s; /* Safari and Chrome */
    -moz-animation: fadein 3.5s; /* Firefox */
    -ms-animation: fadein 3.5s; /* Internet Explorer */
    -o-animation: fadein 3.5s; /* Opera */
    animation: fadein 3.5s;
}

.periodic {
    text-transform: capitalize;
}

body {
    font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
}

button, .input-group-addon, .control-label { text-transform: uppercase; font-weight: normal }

.column-heading {
    margin-top: 0px;
}


#list .list-group-item:last-child, #list .list-group-item:first-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#list .list-group-item {
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
}